/* General */

.bg-radial-linear\:dark-mix-white {
    background: -webkit-radial-gradient(50% 0%, circle closest-corner, #dadada 0%, #3a3a3a 50%, #2a2a2a 75%, #1a1a1a 100%);
}


/* Account */


/* .body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    height: 100vh;
} */

.account {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    height: 100vh;
}

.account__inner {
    min-width: 300px;
}

.account__title {
    text-align: center;
}

.account__title .title {
    font-family: var(--font-bold);
    font-size: clamp(26px, 3.5vw, 34px);
    color: var(--clr-light-red);
    text-transform: uppercase;
}

.account__form {}

.account__item {
    position: relative;
}

.account__item:not(:last-child) {
    margin-bottom: 1rem;
}

.account__label {
    font-family: var(--font-medium);
    font-size: 17px;
    color: var(--clr-txt-white);
    margin-bottom: 0.25rem;
}

.account__input {}

.account__input input {
    position: relative;
    width: 100%;
    height: 38px;
    font-family: var(--font-medium);
    font-size: 16px;
    text-indent: 0.75rem;
}

.account__input input:focus-visible,
.account__input input:focus-within,
.account__input input:focus,
.account__input input:active {
    border-radius: 0px;
}

.account__input-icon {
    position: absolute;
    top: 0;
    right: 0;
}

.account__button {
    width: 100%;
}

.account__button button {
    width: 100%;
    color: var(--clr-txt-white);
    background: #1a1a1a;
}


/* General */

.general__title>h2 {
    font-weight: bold;
    font-size: 24px;
    color: #1a1a1a;
    text-align: center;
    text-transform: uppercase;
}

.body-register {
    display: grid;
    place-items: center;
    height: 100vh;
    /* background: #1a1a1a; */
}

@keyframes spinCircle {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}


/* Register Section */

.register {
    overflow: hidden;
    position: relative;
    isolation: isolate;
    border-radius: 0.5rem;
    padding: 0.25rem;
}

.register:before {
    --width: 1000px;
    content: '';
    position: absolute;
    top: calc(50% - var(--width)/2);
    left: calc(50% - var(--width)/2);
    width: var(--width);
    aspect-ratio: 1;
    z-index: -1;
    background: conic-gradient(#12dcda00, #12dcda);
    animation: spinCircle 5s linear infinite;
}

.register__inner {
    border-radius: inherit;
    background: #fdfdfd;
    padding: 1rem 2rem;
}

.register__label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #1a1a1a;
    margin-bottom: 0.25rem;
}

.register__input {
    flex: 1;
    border-radius: 0.25rem;
    padding: 0.625rem;
}

.register__input-list {
    width: 350px;
}

.register__input-item {
    display: flex;
    width: 100%;
}

.register__input-item:not(.is-password)>input {
    border: 1px solid #ccc;
}

.register__input-item:not(:last-child) {
    margin-bottom: 0.875rem;
}

.register__input-item:is(.is-password) {
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background: #fff;
}

.register__input-item:not(.is-password) {
    flex-direction: column;
}

.register__input-icon {
    display: grid;
    place-items: center;
    width: 40px;
}

.register__button {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0.25rem;
    background: #1a1a1a;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.register__button:hover {
    text-shadow: 0px 0px 2px #fff;
    box-shadow: 0px 0px 5px 1px #1a1a1a;
}

.register__button-item {
    display: flex;
    align-items: center;
    gap: 0.25rem 1rem;
}